@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');
body{
	font-family: 'Montserrat', sans-serif;
}
:root{
    --f7-theme-color:#9c27b0;
    --f7-navbar-bg-color: #673ab7; /*navbar*/
    --f7-navbar-text-color:#fff; /*color texto navbar*/
	--f7-bars-link-color:#fff; /*color íconos navbar*/
    --f7-bars-bg-color:#fff; /*toolbar*/
	--f7-tabbar-link-inactive-color: #563098; /*toolbar links*/
	--color-azul:#9c27b0;
	--color-gris:#dadde1;
	--color-celeste: #edf6ff;
}


.block-title{
	color: var(--color-azul);
}
.title{
	font-size: 30px;
	line-height: normal;
}

.top-panel{
	background-color: var(--f7-theme-color);
	color: #fff;
	padding: 20px 0;
	text-align: center;
	font-weight: 500;
}
.panel .list{
	margin-top: 0;
}
.panel .list ul::before,
.panel .list ul::after{
	background-color: transparent;
}
.panel .list .item-inner::after{
	background-color: transparent;
}
.panel .list span{
	color: var(--color-azul);
}
.panel .list{
	font-size: 14px;
}



.sale{
	padding: 5px 20px;
	color: #fff;
	border-radius: 5px;
}
.sale h3{
	font-size: 24px;
}
.sale .button{
	display: inline;
	padding: 5px 10px;
	font-size: 12px;
}
.bg-men{
	background-image: url(../img/bg-men.jpg);
	background-size: cover;
}
.bg-women{
	background-image: url(../img/bg-women.jpg);
	background-size: cover;
}


h1,h2,h3,h4,h5,h6{
	margin: 2px 0;
}

.img-fluid{
	max-width: 100%;
	display: block;
}


.productos .card-content{
	padding: 5px 15px;
	color: var(--color-azul);
	font-size: 12px;
}
.productos .button{
	font-size: 12px;
	width: 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.productos .card-footer{
	padding: 0;
	min-height: 0;
}
.productos .card-header{
	padding: 0;
}
.productos .card-header img{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}


.toolbar.tabbar-labels a{
	font-size: 10px !important;
	text-transform: none;
}


.brand{
	box-shadow: 0px 0px 10px 4px #f3f9ff;
	border-radius: 5px;
	margin-bottom: 10px;
}



#list-products .item-media img{
	width: 80px;
}

#list-products .price{
	color: var(--color-azul);
	font-weight: 600;
}


.info-top{
	color: var(--color-azul);
	margin-top: 5px;
	border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}


.details{
	color: var(--color-azul);
	border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.details.block-title{
	font-size: 18px;
	text-align: center;
	border-bottom: 0;
}
.details .label{
	color: #aaa;
	display: block;
}


.popup-order .done{
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: var(--color-celeste);
	color: #fff;
	margin: auto;
	border-radius: 100%;
}
.popup-order .done i{
	font-size: 40px;
    line-height: 100px;
    color: var(--color-azul);
}
.popup-order h2{
	color: var(--color-azul);
	font-size: 30px;
	text-align: center;
	margin: 15px 0;
	font-weight: 400;
}
.popur-order{
	color: var(--color-azul);
}
.popup-order .button{
	margin-top: 30px;
} 


#login .page{
	z-index: 1000;
}


#login .login-screen-content{
	padding-top: 25%;
}


#sign-up{
	padding-top: 20%;
}
#sign-up h1{
	font-size: 30px;
	color: var(--color-azul);
}










